.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 30%;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
}

.login > a:hover {
  transform: scale(1.02);
}
